<div>
  <form>
    <div class="form-group row">
      <label class="col-md-2">Event Name</label>
      <input type="text" name="namenya" [(ngModel)]="iName" class="form-control col-md-10" style="width:60%" placeholder="Input event name">
    </div>
    <div class="form-group row">
      <label class="col-md-2">Date and Time</label>
      <input type="datetime-local" name="datenya" [(ngModel)]="iDateTime" class="form-control col-md-10" style="width:60%" placeholder="Input date and time">
    </div>
    <div class="form-group row">
      <label class="col-md-2">Location</label>
      <input type="text" name="locationya" [(ngModel)]="iLocation" class="form-control col-md-10" style="width:60%" placeholder="Input location">
    </div>
    <button type="submit" class="btn btn-primary col-md-offset-2" style="" (click)="addNewEvent()" >Submit</button>
  </form>
</div>
