<div>
  <table class="table table-bordered table-striped">
    <tr>
      <th>ID</th>
      <th>Event Name</th>
      <th>Date and Time Event</th>
      <th>Location</th>
      <th></th>
    </tr>
    <tr *ngFor='let o of this.api.eventList'>
      <td>{{o.event_id}}</td>
      <td>{{o.name}}</td>
      <td>{{o.dateTime_event}}</td>
      <td>{{o.location}}</td>
      <td><button type="button" class="btn btn-primary" (click)="buyTicketnya(o.event_id)">buy ticket</button></td>
    </tr>
  </table>  
</div>
<br>
<br>
<br>
<br>
